@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

.text-field {
    -fx-background-color: #021526;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 0 0 1 0;
}

.pane-style {
    -fx-background-color: white;
    -fx-background-radius: 7%;
}

.btn-style {
    -fx-background-color: #6EACDA;
    -fx-text-fill: white;
    -fx-min-width: 100px;
}

.btn-style:hover {
    -fx-background-color: #03346E;
    -fx-text-fill: white;
    -fx-min-width: 100px;
}

.btnAc-style {
    -fx-background-color: #6EACDA;
}

.btnAc-style:hover {
    -fx-background-color: #021526;
}